ul{
    list-style: none;
}

h3{
    @include media-breakpoint-up(md){
        font-size: $font-size-base * 2;
    }
}

h5{
    @include media-breakpoint-up(md){
        font-size: $font-size-base;
    }
}

p{
    margin-bottom: 0;
}