.search-bar-group{
    display: flex;
    flex: 1 1 auto;
    position: relative;
    width: 277px;
    @include media-breakpoint-up(md){
        width:195px;
        flex: 0 1 auto;
    }
}
.search-input{
    background-color: $gray-100;
    border-style:solid;
    border-color:#F0F0F0;
    border-width: 3px;
    border-radius: 2.5rem;
    width: 100%;
    padding: 8px 14px;
    color: $gray-600;
    @include media-breakpoint-up(md){
    padding: 8px 20px;
    }
    &:focus{
        outline:none;
        border-color:$gray-300;
        box-shadow: 0px 0px 3px $gray-100;
    }
}
.search-btn{
    position: absolute;
    right: 0;
    margin-top: 4px;
    color: $gray-700;
}

.search-bar-lg-group{
    display: flex;
    flex: 1 1 auto;
    position: relative;
    @include media-breakpoint-up(md){
        max-width:690px;
        margin-left: auto;
        margin-right: auto;
    }
}

.search-lg-input{
    background-color: $white;
    border-style:solid;
    border-color:#E7E7E7;
    border-width: 6px;
    border-radius: 2.5rem;
    width: 100%;
    padding: 15px 11px 15px 23px;
 
    &:focus{
        outline: none;
        border-color: $gray-400;
        box-shadow: 0 0 5px $gray-800;
    }
}
.search-lg-btn{
    position: absolute;
    right: 11px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2.5rem;
    background-image: linear-gradient(120deg, $primary, $secondary);
    color: $white;

}