
.button-next{
    position: absolute;
    bottom: 10%;
    right: 26%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-image: linear-gradient(210deg, $primary, $secondary);
    z-index: 10;
    img{
        width: 100%;
        height: 100%;
        object-fit: none;
    }
    @media (min-width: 900px) {
        right: 60px;
    }
}

.button-prev{
    position: absolute;
    top: 24%;
    left: 42%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color:rgba($white, .63);
    box-shadow: 0 2px 20px rgba($black, .15);
    z-index: 10;
    &:hover{
        box-shadow: 0 2px 20px rgba($black, .5);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: none;
    }

    @media (min-width: 800px) {
        left: 35%;
    }
    @media (min-width: 900px) {
        left: 30%;
    }
    @media (min-width: 1100px) {
        left: 25%;
    }
    @media (min-width: 1300px) {
        left: 20%;
    }
    @media (min-width: 1650px) {
        left: 16%;
    }
}